.create-class-div-parent {
    width: 80vw;
    height: 80vh;
    margin-top: 5%;
    margin-left: 11%;
    
}
.create-class-container {
    width: 60vw; 
    height: 100vh;
    padding: 20px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1, h2 {
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
  }
  
.btn-primary.btn-sm {
  width: 15vw;
  text-align: center;
  margin-bottom: 20px;
  vertical-align: center;

}
  .student-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  .student-table th, .student-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .student-table th {
    background-color: #f2f2f2;
  }
  

.btn-secondary {
  float: left;
}

.btn-success {
  float: right; 
}

  .add-student-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }